x-common: &common_foodsoft
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - foodsoft:/usr/src/app/storage
      - ${PWD}/config/storage.yml.SAMPLE:/usr/src/app/config/storage.yml
      - ${PWD}/config/initializers:/usr/src/app/config/initializers
      - ${PWD}/config/environments/development.rb.SAMPLE:/usr/src/app/config/environments/production.rb
      - ${PWD}/config/app_config.yml.SAMPLE:/usr/src/app/app_config.defaults.yml
      - ${PWD}/app:/usr/src/app/app
      - ${PWD}/plugins:/usr/src/app/plugins
      - ${PWD}/docker-entrypoint.sh:/usr/src/app/docker-entrypoint.sh
    environment:
      - REDIS_URL=redis://redis:6379
      - DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL=true
      - MAILCATCHER_ADDRESS=mailcatcher
      - MAILCATCHER_PORT=25
      - SECRET_KEY_BASE=ljwefduspodu
      - RAILS_ENV=production
      - FOODSOFT_DB_PREFIX=foodsoft_
      - FOODSOFT_DB_HOST=mariadb
      - FOODSOFT_DB_NAME=foodsoft_demo
      - FOODSOFT_DB_USER=root
      - FOODSOFT_DB_PASSWORD=secret
      - RAILS_FORCE_SSL=false

x-mariadb: &common_mariadb
    image: mariadb:10.11
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=development
    volumes:
      - mariadb:/var/lib/mysql


services:

  init-db:
    <<: *common_mariadb
    command: sh -c "mariadb -h mariadb -u root --password=secret -e 'CREATE DATABASE foodsoft_demo;' || true"
    depends_on:
      mariadb:
        condition: service_started

  init-foodsoft-db:
    <<: *common_foodsoft
    command: sh -c "bundle exec rake db:setup || true"
    depends_on:
      init-db:
        condition: service_completed_successfully

  foodsoft-resque-ui:
    <<: *common_foodsoft
    command: ./bin/resque-web -p 8282 -F -d -r  redis:6379 --app-dir /tmp/resque
    labels:
      traefik.enable: "true"
      traefik.http.routers.foodsoft_resque_ui.entrypoints: https
      traefik.http.routers.foodsoft_resque_ui.rule: Host(`resque.local.at`)
      traefik.http.routers.foodsoft_resque_ui.tls: "true"
      traefik.http.services.foodsoft_resque_ui.loadbalancer.server.port: 8282
    depends_on:
      redis:
        condition: service_started
      init-foodsoft-db:
        condition: service_completed_successfully

  foodsoft:
    <<: *common_foodsoft
    command: sh -c 'bundle install;./proc-start web'
    ports:
      - "4000:3000"
    labels:
      traefik.enable: "true"
      traefik.http.routers.foodsoft.entrypoints: https
      traefik.http.routers.foodsoft.rule: Host(`app.local.at`)
      traefik.http.routers.foodsoft.tls: "true"
      traefik.http.services.foodsoft.loadbalancer.server.port: 3000
    depends_on:
      redis:
        condition: service_started
      init-foodsoft-db:
        condition: service_completed_successfully

  foodsoft_worker:
    <<: *common_foodsoft
    command: ./proc-start worker
    depends_on:
      redis:
        condition: service_started
      init-foodsoft-db:
        condition: service_completed_successfully

  mailcatcher:
    image: tophfr/mailcatcher
    labels:
      traefik.enable: "true"
      traefik.http.routers.mailcatcher.entrypoints: https
      traefik.http.routers.mailcatcher.rule: Host(`mailcatcher.app.local.at`)
      traefik.http.routers.mailcatcher.tls: "true"
      traefik.http.services.mailcatcher.loadbalancer.server.port: 80

  mariadb:
    <<: *common_mariadb
    ports:
      - 3306:3306

  redis:
    image: redis:6.2-alpine

  traefik:
    image: traefik:v3.6
    command:
      - --accesslog.fields.headers.names.Referer=keep
      - --accesslog.fields.headers.names.User-Agent=keep
      - --accesslog.filePath=/accesslog/access.log
      - --accesslog.format=json
      - --accesslog=true
      - --configFile=/etc/traefik/traefik.yaml
    labels:
      traefik.enable: "true"
      traefik.http.routers.api.entrypoints: https
      traefik.http.routers.api.rule: Host(`traefik.local.at`)
      traefik.http.routers.api.service: api@internal
      traefik.http.routers.api.tls: "true"
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    volumes:
      - accesslog:/accesslog
      - /var/run/docker.sock:/var/run/docker.sock
      - "${PWD}/dev_data/certs/:/etc/certs:ro"
      - "${PWD}/dev_config/traefik.yaml:/etc/traefik/traefik.yaml:ro"
      - "${PWD}/dev_config/traefik.d:/etc/traefik/conf.d:ro"

volumes:
  bundle:
  mariadb:
  foodsoft:
  accesslog:

